/* Login.css */
.login-page {
    height: 100vh;
    background-color: #fff; /* Matches Landing Page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/*.login-card h3 {*/
/*    font-size: 2.5rem;*/
/*    font-weight: bold;*/
/*    color: #000;*/
/*    margin-bottom: 1rem;*/
/*    text-align: center;*/
/*}*/

.form-label {
    font-weight: 500;
    color: #333;
}

.form-control {
    height: calc(2.5rem + 2px);
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.password-toggle-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 0.9rem;
    padding: 0;
}

/* Responsive Design: Stack the fields on smaller screens */
@media (max-width: 768px) {
    .password-group {
        flex-direction: column;
        gap: 10px; /* Reduce spacing for smaller screens */
        width: 100%;
    }

    .password-field {
        width: 100%;
    }
}

.btn-dark {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px 20px;
    width: 100%;
}

.btn-dark:hover {
    background-color: #333;
}
