/* Progress Page Wrapper */
.progress-page-wrapper {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color); /* Shared variable for light/dark themes */
    color: var(--text-color); /* Shared variable for text color */
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Header */
.progress-header {
    margin-bottom: 2rem;
    text-align: center;
}

.progress-header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.progress-header p {
    font-size: 1.2rem;
    /*color: var(--text-secondary-color); !* Secondary text color *!*/
}

/* Cards */
.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease, color 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

body.dark-mode .card {
    background-color: #2a2a2a;
    color: #e0e0e0;
    border-color: #444444;
}

body.dark-mode .card:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}
